-semantic_remote_form_for(content_filter_word, :loading => "ContentFilterWordForm.loading()", :html => {:class => "content_filter_word_form"}) do |form|
  -form.inputs do
    =form.input :whitelist, :as => :hidden
    =form.input :word, :label => false
    
  -if !content_filter_word.new_record?
  
  -form.buttons do
    -if content_filter_word.new_record?
      =form.commit_button "Add", :button_html => {:id => "new_content_filter_word_submit"}
    -else
      =form.commit_button "Save", :button_html => {:id => "content_filter_word_submit_#{content_filter_word.id}", :style => "display:none"}
#content_filter_word_loader{:style => "display:none"}
  =moderation_image_tag("ajax_loader_grey.gif")
.function_links
  =link_to_function("Cancel", "ContentFilterWordForm.hideEdit($(this))")
  =link_to_function("Save", "$('#content_filter_word_submit_#{content_filter_word.id}').click()")