.content_filter_word{:id => "content_filter_word_#{content_filter_word.id}"}
  .content_filter_word_display
    -if content_filter_word.whitelist?
      .word
        %strong=content_filter_word.word
    -else
      %a{:href => "#", :onclick => "($(this).children('.word')).toggleClass('expanded')"}
        .word
          %strong=content_filter_word.word
          %span.inflections=content_filter_word.word.inflections.uniq.join(', ')
    .function_links
      =link_to_remote("Delete", :url => url_for(content_filter_word), :method => :delete, :confirm => "Are you sure you want to delete this word?")
      =link_to_function("Edit", "ContentFilterWordForm.showEdit($(this))")
  .content_filter_word_form{:style => "display:none"}
    =render("content_filter_words/form", :content_filter_word => content_filter_word)