#content_flag_box

  :javascript
    $(document).ready(function() {
      $('#content_flag_box form').bind("ajax:beforeSend", function(event) {
        $('#content_flagging_submit').hide(0, function() {
          $('#content_flagging_form_loader').show();     
        });
      });
    });
    
  #content_flag_form_wrapper
    %h3 Inappropriate Content
    %p
      Use the box below to provide details about the inappropriate content you have found. An email will be sent to the website administrator.
    =semantic_form_for(content_flagging, :url => moderation_content_flaggings_path, :remote => true) do |form|
      =form.input :attachable_type, :as => :hidden
      =form.input :attachable_id, :as => :hidden
      =form.input :url, :as => :hidden
      =form.input :content_flag_type, :label => "Why is this inappropriate?", :prompt => "Please select..."
      =form.input :message, :as => :text, :input_html => {:rows => 4, :class => 'span5'}, :label => "Please give some details here"
      =form.input :email, :label => "If you would like to be contacted, please enter your email address:"
      =form.buttons do
        =form.commit_button "Report"
      #content_flagging_form_loader{:style => "display:none"}
        =moderation_image_tag("ajax_loader_light.gif")