-first_line = ""
-if @attachable
  -first_line += @attachable.respond_to?(:user) && !@attachable.user.nil? ? "#{@attachable.user.full_name}'s" : "A "
  -first_line += @content_flag.attachable_type.titleize.downcase
-else
  -first_line += "A page"
-first_line += " has been flagged as inappropriate."

=first_line

-unless @content_flag.message.blank?
  The person who flagged the content left this message:
  
  
  = '"' + @content_flag.message + '"'
  
    
-unless @content_flag.email.blank?
  ="The person who flagged the content gave their email address: #{@content_flag.email}"
  
You can view the flagged content here:
-if @attachable
  =polymorphic_url(@attachable, :host => site_url)
-else
  =site_url + @content_flag.url