-title "Flagged content"
-if !@content_flags.blank?
  #content_flags_list
    -@content_flags.each do |content_flag|
      =render 'content_flag', :content_flag => content_flag
  -if content_flags.respond_to?(:total_pages)
    #content_flags_pagination=will_paginate(@content_flags, :remote => true)
-else
  %p.no_flags There are no pending flags.