:javascript
  $(document).ready(function() {
    ModerationSideBar.setup_links();
  });
  
%ul#moderation_sidebar
  %li#inbox{:class => @dashboard ? "active" : ""}
    %span=link_to_moderation_content("Dashboard", moderation_path)
  %li#inbox{:class => (current_page?(:controller => "content_flags", :action => "inbox") || params[:menu_item]=="inbox") ? "active" : ""}
    %span=link_to_moderation_content("Inbox", inbox_moderation_content_flags_path)
    .count=ContentFlag.unresolved_count
  %ul#content_flag_types
    - ContentFlagType.all.each do |content_flag_type|
      %li.content_flag_type{:id => "content_flag_type_#{content_flag_type.id}",:class => @content_flag_type == content_flag_type ? "active" : "", :style => @content_flag_type == content_flag_type ? "background-color:#{content_flag_type.color}" : ""}
        =link_to_moderation_content(truncate(content_flag_type.to_s, :length => 25), moderation_content_flag_type_path(content_flag_type), :html => {:title => content_flag_type})
        .count{:style => "background-color:#{content_flag_type.color}"}
          =content_flag_type.unresolved_content_flag_count
  %li#resolved{:class => (current_page?(resolved_moderation_content_flags_path) || params[:menu_item]=="resolved") ? "active" : ""}
    %span=link_to_moderation_content("Resolved", resolved_moderation_content_flags_path)
  -if false
    %li#blacklist{:class => @content_filter_words && !@whitelist ? "active" : ""}
      =link_to_moderation_content('Black list', content_filter_words_path)
    %li#whitelist{:class => @content_filter_words && @whitelist ? "active" : ""}
      =link_to_moderation_content('White list', content_filter_words_path(:whitelist => true))
  %li#categories{:class => (current_page?(moderation_content_flag_types_path) ? "active" : "")}
    =link_to_moderation_content('Report categories',  moderation_content_flag_types_path)