-content_for :head do
  =stylesheet_link_tag "/yoomee_moderation/css/styles.css"
  =javascript_include_tag "/yoomee_moderation/js/jquery.colorPicker.js"
  =javascript_include_tag "/yoomee_moderation/js/yoomee_moderation.js"
- model_class = controller_name.classify.constantize
- page_title model_class.name.titleize.pluralize

=render 'content_flag_types/content_flag_types_list', :content_flag_types => @content_flag_types